.ProfileInfo h1 {
    /* Добро пожаловать в академию! */
    position: absolute;
    width: 1157px;
    height: 296px;
    left: 80px;
    top: 93px;

    font-family: Factor A TRIAL, Arial, Helvetica, sans-serif;
    font-size: 124px;
    font-style: normal;
    font-weight: 500;
    line-height: 148px;
    /* or 119% */

    letter-spacing: -0.0124em;

    color: #FFFFFF;
}
@media (max-width: 320px) {
    .ProfileInfo h1 {
        width: 90%;
        left: 5%;
        top: 0;

        font-size: 48px;
        letter-spacing: -0.0124em;
        line-height: 54px;

        color: #FFFFFF;
    }
}

.myPhoto img{
    /* Ava */

    position: absolute;
    overflow: hidden;
    max-width: 519px;
    height: 383px;
    right: 795px;
    top: 625px;


    background-size: cover;
    background-position: center;
    border-radius: 2px;

}
@media (max-width: 320px) {
    .myPhoto img{
        left:5%;
        top: 266px;
        max-width: 95%;
        height: 200px;
    }
}