.reviewWindow {
    position: relative;
    background-color: #ffffff;
    width: 1198px;
    height: 525px;
    left: 0px;
    top: 1128px;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .reviewWindow{
        left: 0px;
        top: 994px;
        width: 95%;
        height: 479px;
    }
}

.reviewLabel {
    position: absolute;

    left: 80px;
    top: 56px;

    font: 68px Factor A TRIAL, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;

    letter-spacing: -0.0124em;

    color: #333333;
}
@media (max-width: 320px) {
    .reviewLabel{
        left: 5%;
        top: 6%;
        font: 32px Factor A TRIAL, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 42px;
    }
}

.addReview {
    position: absolute;
    border:none;
    padding: 17px 27px;
    cursor: pointer;
    width: 227px;
    height: 52px;
    right: 74px;
    top: 56px;

    background: #585CC6;
    border-radius: 2px;
}
.addReview:hover {
    background: #797DDF;
}
@media (max-width: 320px) {
    .addReview{
        width: 42px;
        height: 42px;
        right: 5%;
        top: 6%;
        padding: 12px;
    }
}

.addReview .icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 30px;
    top: 19px;

    background-image: url(../../../icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .addReview .icon{
        width: 14px;
        height: 14px;
        left: 14px;
        top: 14px;
    }
}

.addReview .text {
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 18px;

    letter-spacing: 0.01em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 12px;
}
@media (max-width: 320px) {
    .addReview .text{
        display: none;
    }
}

/* ---Отзывы--- */
.reviewsWindow {
    position: absolute;
    width: 1062px;
    height: 279px;
    left: 80px;
    top: 182px;
    display: flex;
}
@media (max-width: 320px) {
    .reviewsWindow{
        left: 17px;
        top: 83px;
        width: 272px;
        height: 348px;
        display: unset;
    }
}

.firstReviewItem {
    position: relative;
    width: 519px;
    height: 279px;
    background: #F5F5F5;
    margin-right: 24px;
}
@media (max-width: 320px) {
    .firstReviewItem{
        width: 100%;
        height: 100%;
    }
}

.secondReviewItem {
    position: relative;
    width: 519px;
    height: 279px;
    background: #F5F5F5;
}
@media (max-width: 320px) {
    .secondReviewItem{
        display: none;
    }
}

.reviewSlider {
    position: relative;
    left: 80px;
    top: 493px;
    width: 1062px;
    height: 0px;
    display: flex;
    justify-content: center;
}
@media (max-width: 320px) {
    .reviewSlider{
        left: 5%;
        top: 455px;
        width: 272px;
    }
}

.reviewSliderActive {
    margin: 0 3px;
    position: relative;
    width: 24px;
    height: 4px;

    background-image: url(../../../icons/reviewSliderActive.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reviewSliderNoneActive {
    margin: 0 3px;

    position: relative;
    width: 12px;
    height: 4px;
    background-image: url(../../../icons/reviewSliderNoneAvtive.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reviewsButtons{
    position: relative;
    left: 1232px;
    top: 469px;

    width: 128px;
    height: 56px;
}
@media (max-width: 320px) {
    .reviewsButtons{
        display: none;
    }
}

.backBtn {
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 56px;
    left: 0;
    top: 0;
    border-radius: 2px;
    border: none;
}
@media (max-width: 320px) {
    .backBtn{
        display: none;
    }
}

.forwardBtn {
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 56px;
    right: 0;
    top: 0;
    border-radius: 2px;
    border: none;
}
@media (max-width: 320px) {
    .forwardButton{
        display: none;
    }
}

.activeButton {
    background: #FFFFFF;
}
@media (max-width: 320px) {
    .activeButton{
        display: none;
    }
}

.nonActiveButton {
    background: #E0E0E0;
}
@media (max-width: 320px) {
    .nonActiveButton{
        display: none;
    }
}

.backButtonArrow{

    position: absolute;
    width: 15px;
    height: 12px;
    left: 20.5px;
    top: 22px;
    transform: rotate(180deg);
    background-image: url(../../../icons/arrowBlack.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .backButtonArrow{
        display: none;
    }
}

.forwardButtonArrow{
    position: absolute;
    width: 15px;
    height: 12px;
    right: 20.5px;
    top: 22px;

    background-image: url(../../../icons/arrowBlack.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .forwardButtonArrow{
        display: none;
    }
}