.reviewWindow {
    position: relative;
    background-color: #ffffff;
    width: 1198px;
    height: 525px;
    left: 0px;
    top: 1128px;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .reviewWindow{
        left: 0px;
        top: 994px;
        width: 95%;
        height: 479px;
    }
}

.reviewLabel {
    position: absolute;

    left: 80px;
    top: 56px;

    font: 68px Factor A TRIAL, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;

    letter-spacing: -0.0124em;

    color: #333333;
}
@media (max-width: 320px) {
    .reviewLabel{
        left: 5%;
        top: 6%;
        font: 32px Factor A TRIAL, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 42px;
    }
}

.addReview {
    cursor: pointer;
    position: absolute;
    border:none;
    padding: 17px 27px;

    width: 227px;
    height: 52px;
    right: 74px;
    top: 56px;

    background: #585CC6;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .addReview{
        width: 42px;
        height: 42px;
        right: 5%;
        top: 6%;
        padding: 12px;
    }
}

.addReview .icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 30px;
    top: 19px;

    background-image: url(../../../icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .addReview .icon{
        width: 14px;
        height: 14px;
        left: 14px;
        top: 14px;
    }
}

.addReview .text {
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 18px;

    letter-spacing: 0.01em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 12px;
}
@media (max-width: 320px) {
    .addReview .text{
        display: none;
    }
}

.reviewBody_1 {
    position: absolute;
    width: 519px;
    height: 279px;
    left: 80px;
    top: 182px;
    background: #F5F5F5;
}
@media (max-width: 320px) {
    .reviewBody_1{
        left: 5%;
        top: 83px;
        width: 90%;
        height: 348px;
    }
}

.reviewBody_2 {
    position: absolute;
    width: 519px;
    height: 279px;
    left: 623px;
    top: 182px;
    background: #F5F5F5;
}
@media (max-width: 320px) {
    .reviewBody_2{
        display: none;
    }
}

.profileIcon {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 24px;
    top: 24px;

    border-radius: 2px;

    background-image: url(../../../icons/Ava.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .profileIcon{
        width: 40px;
        height: 40px;
        left: 4%;
        top: 16px;
    }
}

.profileName {
    /* Буба Бубенцов */

    position: absolute;

    left: 96px;
    top: 36px;

    font: 24px Factor A TRIAL, Arial, Helvetica, sans-serif;

    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    letter-spacing: -0.0124em;

    color: #333333;
}
@media (max-width: 320px) {
    .profileName{
        left: 19%;
        top: 24px;

        font: 16px Factor A TRIAL, Arial, Helvetica, sans-serif;

        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}

.reviewDate {
    /* 08.01.2022 */
    position: absolute;
    right: 24px;
    top: 24px;

    font: 14px Factor A TRIAL, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: #8A8A8A;
}
@media (max-width: 320px) {
    .reviewDate{
        left: 4%;
        top: 68px;
        font: 10px Factor A TRIAL, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
    }
}

.reviewText {
    position: absolute;
    width: 471px;
    height: 155px;
    left: 24px;
    right: 24px;
    top: 100px;

    font: 14px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: #333333;
}
@media (max-width: 320px) {
    .reviewText{
        left: 4%;
        right: 94px;
        width: 92%;
        height: 238px;
        font: 12px Gilroy, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.reviewSlider {
    position: relative;
    width: 66px;
    height: 0px;
    left: 578px;
    top: 493px;
    display: flex;
    justify-content: center;
}
@media (max-width: 320px) {
    .reviewSlider{
        left: 37%;
        top: 455px;
    }
}

.reviewSliderActive {
    margin: 0 3px;
    position: relative;
    width: 24px;
    height: 4px;

    background-image: url(../../../icons/reviewSliderActive.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reviewSliderNoneActive {
    margin: 0 3px;

    position: relative;
    width: 12px;
    height: 4px;
    background-image: url(../../../icons/reviewSliderNoneAvtive.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backButton {
    position: absolute;
    width: 56px;
    height: 56px;
    right: -90px;
    bottom: 0px;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .backButton{
        display: none;
    }
}

.forwardButton {
    position: absolute;
    width: 56px;
    height: 56px;
    right: -162px;
    bottom: 0px;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .forwardButton{
        display: none;
    }
}

.activeButton {
    background: #FFFFFF;
}

.nonActiveButton {
    background: #E0E0E0;
}

.backButtonArrow{
    position: absolute;
    width: 15px;
    height: 12px;
    right: -71.5px;
    bottom: 22px;

    opacity: 0.5;
    transform: rotate(180deg);
    background-image: url(../../../icons/arrowBlack.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .backButtonArrow{
        display: none;
    }
}

.forwardButtonArrow{
    position: absolute;
    width: 15px;
    height: 12px;
    right: -143.5px;
    bottom: 22px;

    background-image: url(../../../icons/arrowBlack.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .forwardButtonArrow{
        display: none;
    }
}