.contentPage {
    position: relative;
    max-width: 1440px;
    height: 1697px;
    padding: 0;
    margin: 0 auto;
    background-color: #585CC6;
}
@media (max-width: 320px) {
    .contentPage {
        max-width: 320px;
        height: 1580px;
    }
}

.contentPageBgLine {
    position: fixed;
    width: 828px;
    height: 1610px;
    left: 839px;
    top: -266px;
    background-image: url(../../icons/bgLine.svg);
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .contentPageBgLine {
        left: 12%;
        top: -456px;

    }
}