.contentPage {
    max-width: 1440px;
    height: 1695px;
    padding: 0;
    margin: 0 auto;
    background-color: #585CC6;
    position: relative;
}

.contentPageBgLine {
    position: absolute;
    width: 828px;
    height: 1610px;
    left: 839px;
    top: -266px;
    background-image: url(../../icons/bgLine.svg);
    background-repeat: no-repeat;
}
