.navbar {
    height: 116px;
    max-width: 100%;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}
@media (max-width: 320px) {
    .navbar {
        height: 77px;
    }
}


.block {
    margin: 0 auto;
    max-width: 1440px;
    line-height: 116px;
    position: relative;
    display: flex;
    justify-content: center;
}
@media (max-width: 320px) {
    .block {
        max-width: 320px;
        line-height: 77px;
    }
}

.block div{
    float: left;
    line-height: 116px;
}
@media (max-width: 320px) {
    .block div{
        line-height: 77px;
    }
}

.block_img {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 80px;
    top: 32px;
    border-radius: 2px;

}
@media (max-width: 320px) {
    .block_img {
        width: 36px;
        height: 36px;
        left: 5%;
        top: 21px;
    }
}

.block_img img {

    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.name {
    visibility: hidden;
}
@media (max-width: 320px) {
    .name{
        /* Яна */
        visibility: visible;
        position: absolute;
        height: 18px;
        top: 0;
        left: 19%;
        font-family: Gilroy, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        color: #333333;
    }
}

.block_1 {
    /* Яна Валиева */
    position: absolute;
    height: 18px;
    left: 152px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #333333;
}
@media (max-width: 320px) {
    .block_1{
        display: none;
    }
}

.block_2_logo_1 {
    /* ilink logo */
    position: absolute;
    width: 85px;
    height: 32px;
    left: 677px;
    top: 32px;
    background-image: url(../../icons/ilink.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .block_2_logo_1{
        top: 20px;
        left: 40.6%;
        width: 59px;
        height: 22px;
    }
}

.block_2_logo_2 {
    /* ACADEMY logo */
    position: absolute;
    width: 85px;
    height: 12px;
    left: 677px;
    top: 72px;
    background-image: url(../../icons/ACADEMY.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
@media (max-width: 320px) {
    .block_2_logo_2{
        top: 47px;
        left: 40.6%;
        width: 59px;
        height: 9px;
    }
}

.block_3{
    /* Button */
    position: absolute;
    cursor: pointer;
    padding: 17px 28px;

    width: 227px;
    height: 52px;
    left: 1133px;
    top: 32px;

    border: none;

    background: #585CC6;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .block_3{
        padding: 8px;
        width: 36px;
        height: 36px;
        left: 84%;
        top: 20px;
        padding: 0;
    }
}

.block_3 .text {
    position: absolute;
    top: 15px;
    left: 19px;
    height: 18px;
    width: 172px;
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

}
@media (max-width: 320px) {
    .text{
        display: none;
    }
}


.block_3 .mobileIcon {
    visibility: hidden;

}
@media (max-width: 320px) {
    .block_3 .mobileIcon {
        visibility: visible;
        position: absolute;
        top: 9px;
        left: 11.5px;
        width: 13px;
        height: 17px;
        background-image: url(../../icons/header/profile.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
