.infoBlockBody {
    /* Информационный блок */

    position: absolute;
    width: 761px;
    height: 383px;
    left: 599px;
    top: 593px;

    background: #FFFFFF;
    border-radius: 2px;
}
@media (max-width: 320px) {
    .infoBlockBody {
        left: 5%;
        top: 455px;
        width: 90%;
        height: 482px;
    }
}

.name {
    /* Яна Валиева */
    position: absolute;
    width: 200px;
    height: 32px;
    left: 40px;
    top: 40px;
    font: 32px Factor A TRIAL, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #585CC6;
}
@media (max-width: 320px) {
    .name{
        left: 5%;
        top: 5%;
        font: 24px Factor A TRIAL, Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
}

.birthDay {
    /* 08.10.1999 */
    position: absolute;
    right: 40px;
    top: 44px;
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #8A8A8A;
}
@media (max-width: 320px) {
    .birthDay{
        left: 5%;
        top: 52px;
        font: 16px Gilroy, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

.citySexAge {
    position: absolute;
    top: 92px;
    left: 40px;
    right: 40px;
}
@media (max-width: 320px) {
    .citySexAge{
        left: 5%;
        top: 90px;
        right: 5%;
    }
}

.citySexAge div {
    position: relative;
    display: block;
    float: left;
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    line-height: 24px;

}
@media (max-width: 320px) {
    .citySexAge div{
        font: 16px Gilroy, Arial, Helvetica, sans-serif;
        line-height: 22px;
    }
}

.city {
    margin-right: 40px;
}
@media (max-width: 320px) {
    .city{
        margin-right: 28px;
    }
}

.sex{
    margin-right: 40px;
}
@media (max-width: 320px) {
    .sex{
        margin-right: 28px;
    }
}


.sexIcon {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 9px;
    height: 17px;
    line-height: 24px;


    background-image: url(../../../../icons/female.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .sexIcon{
        width: 7px;
        height: 14px;
    }
}

.textContent {
    position: absolute;
    width: 681px;
    left: 40px;
    top: 134px;

    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 24px;

    letter-spacing: 0.01em;

    color: #333333;
}
@media (max-width: 320px) {
    .textContent{
        left: 5%;
        width: 90%;
        top: 162px;
        font: 16px Gilroy, Arial, Helvetica, sans-serif;
        font-style: normal;
        line-height: 22px;
    }
}

.petsInfo {
    position: absolute;
    left: 84px;
    bottom: 45px;
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 24px;
}
@media (max-width: 320px) {
    .petsInfo{
        left: 20%;
        bottom: 5%;
        font: 16px Gilroy, Arial, Helvetica, sans-serif;
        font-style: normal;
        line-height: 22px;
    }
}

.petBowlIcon {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 32px;
    height: 32px;

    background-image: url(../../../../icons/petBowl.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    .petBowlIcon{
        left: 5%;
        bottom: 5%;
    }
}