.body {
    position: relative;
    width: 676px;
    min-height: 443px;
}

.body h1 {
    position: absolute;
    font-family: 'Factor A TRIAL';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.0124em;
    color: #333333;
}

.body h2 {
    position: absolute;
    font-family: 'Factor A TRIAL';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0124em;
    color: #333333;
}

.whatsYourName {
    top: 48px;
    left: 0;
}

.isEverythingIsGood {
    top: 166px;
    left: 0;
}

.closeBtn {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    background: white;
    border: none;
}

.textField {
    position: absolute;
    ledt: 0;
    top: 92px;
    margin-right: 16px;
}

.textFieldInput {
    display: block;
    width: 395px;
    height: 52px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8A8A8A;

    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 0 12px;
}

.addPhoto {
    position: absolute;
    border:none;
    padding: 17px 27px;
    cursor: pointer;
    width: 227px;
    height: 52px;
    right: 0;
    top: 92px;

    background: #585CC6;
    border-radius: 2px;
}

.addPhoto .icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 30px;
    top: 19px;

    background-image: url(../../../../icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.addPhoto .text {
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 18px;

    letter-spacing: 0.01em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 12px;
}

.reviewField textarea {
    position: absolute;
    left: 0;
    top: 222px;
    width: 652px;
    height: 105px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8A8A8A;

    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 12px 12px;
    resize: none;
}

.counter {
    position: absolute;
    right: 4px;
    top: 330px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: #8A8A8A;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 69%;
    height: 52px;
    display: flex;
    justify-content: center;
    line-height: 52px;
}

.sendReview{
    /* Button */
    position: absolute;
    cursor: pointer;
    padding: 17px 28px;

    width: 203px;
    height: 52px;
    left: 0;
    top: 0;

    border: none;

    background: #585CC6;
    border-radius: 2px;

}

.sendReview .text {
    position: absolute;
    top: 17px;
    left: 18px;
    font: 18px Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

}

.bottom img {
    left: 221px;
    width: 15px;
    height: auto;
}

.infoText {
    position: absolute;
    left: 247px;
    width: 293px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: #8A8A8A;
}